@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: "Inter", system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-50 dark:bg-neutral-950 text-slate-900 dark:text-slate-100;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s, color 0.3s;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-neutral-800 rounded-full;
}
@media print {
  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    display: block !important;
  }
}
